<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/css/bootstrap.css" type="text/css"></link>
    <script src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/js/bootstrap.js"></script>
    <script src="../static/scripts/js/bootstrap.bundle.js"></script>
    <script src="../static/scripts/Modal.js"></script>
    <title>PROCEDURE</title>
</head>
<body>
<div class="container" th:replace="base :: header('迁转流程') "></div>
<div class="container">
        <div class="row">
                    <form class="col-8 form-inline mx-auto" action="/searchByState" method="post">
                            <select id="selectState" class="custom-select" name="state" style="width: auto">
                                <option selected value="-1">请选择状态</option>
                                <option value="未完成">未完成</option>
                                <option value="进行中">进行中</option>
                                <option value="已完成">已完成</option>
                            </select>&nbsp;
                            <button class="btn btn-primary" type="submit">查询</button>
                        <!--input type="text" class="form-inline form-check-inline" placeholder="状态" name="state"/-->
                    </form>
        </div>
        <br/>
        <div class="row">
                <table class="col-8 table-bordered table-hover m-auto">
                    <thead>
                    <tr>
                        <th>NUMBER</th>
                        <th>DATE</th>
                        <th>DETAIL</th>
                        <th>OWNER</th>
                        <th>STATE</th>
                        <th>INFO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="infor,inforstat : ${procedure}">
                        <td th:text="${inforstat.index}+1">1</td>
                        <td th:text="${infor.to_date}">2018/10/10</td>
                        <td th:text="${infor.detail}">详细迁转流程</td>
                        <td th:text="${infor.owner}">田宇寒：<br/>18620028004</td>
                        <td th:text="${infor.state}" data-toggle="modal" data-target="#myModal_state" th:onclick="'javascript:Values('+${inforstat.index}+');'">完成</td>
                        <td th:text="${infor.info}" data-toggle="modal" data-target="#myModal_info" th:onclick="'javascript:Values_2('+${inforstat.index}+',\''+${infor.info}+'\');'">备注</td>
                    </tr>
                    </tbody>
                </table>
        </div>
</div>
<div class="modal fade" id="myModal_state">
    <div class="modal-dialog modal-sm">
        <form class="form-inline" action="/updateState" method="post">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">状态更新</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- 模态框主体 -->
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id">
                        <label class="radio-inline"><input type="radio" name="upstate" value="未完成">未完成</label>
                        <label class="radio-inline"><input type="radio" name="upstate" value="进行中">进行中</label>
                        <label class="radio-inline"><input type="radio" name="upstate" value="已完成">已完成</label>
                    </div>
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="modal fade" id="myModal_info">
    <div class="modal-dialog modal-lg">
        <form class="form" action="/updateInfo" method="post">
            <div class="modal-content form-group">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">备注更新</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <input type="hidden" id="id_2" name="id_2">
                    <textarea id="comment" class="form-control"  name="comment"></textarea>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
